body {
  background-color: rgba(29, 8, 8, 0.021);
}

h1,
h2,
h3 {
  color: rgb(143, 141, 138);
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(86, 88, 88);
}
main{
    display:flex ;
    padding: 1rem ;
    gap: 1rem;
}

#html {
 
}

#css {
  
}

#javascript {

}
img {
    width: 200px;
    
}